[package]
name = "genvarloader"
version = "0.2.0"
edition = "2021"
authors = ["David Laub <dlaub@ucsd.edu"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
name = "genvarloader"
crate-type = ["cdylib", "rlib"]

[dependencies]
anyhow = "1.0.82"
bigtools = "0.5.4"
itertools = "0.12.1"
ndarray = "0.16.1"
numpy = "0.23.0"
rayon = "1.10.0"

[dependencies.pyo3]
version = "0.23.4"
features = ["abi3-py310", "extension-module"]

[dev-dependencies]
rstest = "0.24.0"