[package]
name = "genvarloader"
version = "0.1.0"
edition = "2021"
authors = ["David Laub <dlaub@ucsd.edu"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
name = "genvarloader"
crate-type = ["cdylib"]

[dependencies]
anyhow = "1.0.82"
bigtools = "0.4.2"
itertools = "0.12.1"
ndarray = "0.15.6"
numpy = "0.21.0"
rayon = "1.10.0"

[dependencies.pyo3]
version = "0.21.1"
features = ["abi3-py39", "extension-module"]
