[workspace]
name = "genvarloader"
channels = ["conda-forge", "bioconda"]
platforms = ["linux-64"]

[environments]
default = { features = ["default", "py310"] }
dev = { features = ["pytorch-cpu", "basenji2", "py310"] }
docs = { features = ["docs", "pytorch-cpu", "basenji2", "py312"] }
docs-gpu = { features = ["docs", "pytorch-gpu", "basenji2", "py312"] }
py310 = { features = ["pytorch-cpu", "py310"] }
py311 = { features = ["pytorch-cpu", "py311"] }
py312 = { features = ["pytorch-cpu", "py312"] }
py313 = { features = ["pytorch-cpu", "py313"] }
no-torch = { features = ["py310"] }
demo = { features = ["demo", "py310"] }

[dependencies]
uv = "*"
samtools = "*"
bcftools = "*"
plink2 = "*"
ruff = "*"
prek = "*"
commitizen = "*"
maturin = ">=1.6,<2"
typing-extensions = ">=4.14"
numpy = "<2"

[pypi-dependencies]
genvarloader = { path = ".", editable = true }
numpy = "==1.26.*"
numba = "==0.59.1"
pyarrow = ">=21"
hirola = "==0.3"
seqpro = "==0.9.0"
genoray = "==2.1.1"
polars = "==1.37.1"
loguru = "*"
attrs = "*"
natsort = "*"
cyvcf2 = "*"
pgenlib = "*"
pandera = "*"
pysam = "*"
pyranges = "*"
more-itertools = "*"
tqdm = "*"
pybigwig = "*"
einops = "*"
tbb = "*"
joblib = "*"
pooch = "*"
awkward = "*"
pytest = "*"
memray = "*"
py-spy = "*"
icecream = "*"
pydantic = ">=2,<3"
pytest-cases = "*"
pytest-cov = "*"
pytest-benchmark = "*"
hypothesis = "*"
filelock = "*"
patchelf = "*"
typer = "*"

[feature.docs.dependencies]
sphinx = ">=7.4.7"
myst-parser = "*"
nbsphinx = "*"
ipykernel = "*"
ipywidgets = "*"
sphinx-book-theme = "*"
sphinx-autobuild = "*"
sphinx-autodoc-typehints = "*"
matplotlib = "*"
seaborn = "*"
scipy = "*"

[feature.pytorch-cpu.dependencies]
pytorch-cpu = ">=2,<3"

[feature.pytorch-gpu.pypi-dependencies]
torch = { version = ">=2,<3", index = "https://download.pytorch.org/whl/cu126" }

[feature.basenji2.pypi-dependencies]
basenji2-pytorch = ">=0.1.2"

[feature.py310.dependencies]
python = "3.10.*"

[feature.py311.dependencies]
python = "3.11.*"

[feature.py312.dependencies]
python = "3.12.*"

[feature.py313.dependencies]
python = "3.13.*"

[tasks]
prek-install = "prek install --hook-type commit-msg --hook-type pre-push"
gen = { cmd = "python tests/data/generate_ground_truth.py" }
test = { cmd = "pytest tests && cargo test --release", depends-on = ["gen"] }

[feature.docs.tasks]
i-kernel = "ipython kernel install --user --name 'gvl-docs' --display-name 'GVL Docs'"
i-kernel-gpu = "ipython kernel install --user --name 'gvl-docs-gpu' --display-name 'GVL Docs GPU'"
doc = "cd docs && make clean && make html"

[feature.demo.dependencies]
seaborn = "*"
xarray = "*"
ipykernel = "*"

[feature.demo.tasks]
i-kernel = "ipython kernel install --user --name 'gvl-demo' --display-name 'GVL Demo'"
