[project]
name = "genvarloader"
channels = ["conda-forge", "bioconda"]
platforms = ["linux-64"]

[environments]
dev = { features = ["pytorch-cpu", "basenji2", "py310"] }
docs = { features = ["docs", "pytorch-cpu", "basenji2", "py310"] }
# docs-gpu = { features = ["docs", "pytorch-gpu", "basenji2", "py310"] }

[dependencies]
numba = ">=0.58.1"
polars = "==1.26.0"
loguru = "*"
attrs = "*"
natsort = "*"
cyvcf2 = "*"
pandera = "*"
pysam = "*"
pyarrow = "*"
pyranges = "*"
more-itertools = "*"
tqdm = "*"
pybigwig = "*"
einops = "*"
tbb = "*"
joblib = "*"
pooch = "*"
awkward = "*"
maturin = ">=1.6,<2"
pytest = "*"
memray = "*"
py-spy = "*"
icecream = "*"
pytest-cases = "*"
pytest-cov = "*"
ruff = "*"
pre-commit = "*"
pytest-benchmark = "*"
hypothesis = "*"
filelock = "*"
patchelf = "*"
commitizen = "*"
typer = "*"

[pypi-dependencies]
genvarloader = { path = ".", editable = true }
seqpro = "==0.3.1"
hirola = "==0.3"
genoray = "==0.8.0"

[feature.docs.dependencies]
sphinx = ">=7.4.7"
myst-parser = "*"
nbsphinx = "*"
ipykernel = "*"
ipywidgets = "*"
sphinx-book-theme = "*"
sphinx-autobuild = "*"
sphinx-autodoc-typehints = "*"

[feature.pytorch-cpu.dependencies]
pytorch-cpu = ">=2,<3"

# [feature.pytorch-gpu.dependencies]
# pytorch-gpu = ">=2,<3"
# cuda-version = "12.1.*"

# [feature.pytorch-gpu.system-requirements]
# cuda = "12.1"

[feature.basenji2.pypi-dependencies]
basenji2-pytorch = ">=0.1.2"

[feature.py310.dependencies]
python = "3.10.*"

[tasks]
pre-commit = "pre-commit install --hook-type commit-msg"
gen = "python tests/data/generate_ground_truth.py"
test = "pytest tests"

[feature.docs.tasks]
i-kernel = "ipython kernel install --user --name 'gvl-docs' --display-name 'GVL Docs'"
i-kernel-gpu = "ipython kernel install --user --name 'gvl-docs-gpu' --display-name 'GVL Docs GPU'"
doc = "cd docs && make clean && make html"
