[project]
name = "genvarloader"
version = "0.14.3"
description = "Pipeline for efficient genomic data processing."
authors = [
    { name = "David Laub", email = "dlaub@ucsd.edu" },
    { name = "Aaron Ho", email = "aho@salk.edu" },
]
readme = "README.md"
license = { file = "LICENSE.txt" }
requires-python = ">=3.10,<3.13" # >= 3.13 blocked by cyvcf2
dependencies = [
    "numba>=0.58.1",
    "loguru",
    "attrs",
    "natsort",
    "polars>=1.26",
    "cyvcf2",
    "pandera",
    "pysam",
    "pyarrow",
    "pyranges",
    "more-itertools",
    "tqdm",
    "pybigwig",
    "einops",
    "tbb",
    "joblib",
    "pooch",
    "awkward",
    "hirola>=0.3,<0.4",
    "seqpro>=0.3.2",
    "genoray>=0.10.3",
]

[project.urls]
source = "https://github.com/mcvickerlab/GenVarLoader"
documentation = "https://genvarloader.readthedocs.io/en/stable/"
issues = "https://github.com/mcvickerlab/GenVarLoader/issues"

[tool.ruff]
lint.ignore = ["E501"]

[tool.pyright]
include = ["python/", "tests/"]
exclude = ['**/data/']

[tool.maturin]
python-source = "python"
features = ["pyo3/extension-module"]

[tool.pytest.ini_options]
filterwarnings = [
    "ignore::DeprecationWarning:ray.*",
    "ignore::DeprecationWarning:pkg_resources.*",
    "ignore::DeprecationWarning:jupyter_client.*",
    "ignore::DeprecationWarning:sorted_nearest.*",
]
markers = ["slow: mark test as slow (deselect with '-m \"not slow\"')"]

[tool.commitizen]
name = "cz_conventional_commits"
tag_format = "$version"
legacy_tag_formats = ['v$version']
version_scheme = "semver2"
version_provider = "pep621"
update_changelog_on_bump = true
major_version_zero = true

[build-system]
requires = ["maturin>=1.6,<2.0"]
build-backend = "maturin"
