[tool.poetry]
name = "genvarloader"
version = "0.0.0"  # managed by poetry-dynamic-versioning
description = "Pipeline for efficient genomic data processing."
authors = ["David Laub <dlaub@ucsd.edu>", "Aaron Ho <aho@salk.edu>"]
readme = "README.md"
repository = "https://github.com/mcvickerlab/genome-loader"
license = "MIT"

[tool.poetry.dependencies]
python = "^3.9"
loguru = "^0.7.2"
attrs = "^23.1.0"
dask = {extras = ["array"], version = "^2023.9.3"}
natsort = "^8.4.0"
numba = "^0.58.1"
polars = "^0.19.18"
pandas = "<2"
pandera = "^0.17.2"
pgenlib = "^0.90.1"
ray = "^2.7.1"
xarray = "^2023.9.0"
pysam = "^0.22.0"
pyarrow = "^14"
more-itertools = "^10.1.0"
urllib3 = ">=2.0.7"
tqdm = "^4.66.1"
# pyd4 = "^0.3.9"
seqpro = "^0.1.11"
tensorstore = "^0.1.54"
cyvcf2 = "^0.30.28"
zarr = "^2.17.0"

[tool.poetry.group.dev.dependencies]
pytest = "^7.4.2"
mypy = "^1.6.0"
memray = "^1.10.0"
py-spy = "^0.3.14"
isort = "^5.12.0"
icecream = "^2.1.3"
black = "^23.9.1"
pytest-cases = "^3.8.0"
pytest-cov = "^4.1.0"
ruff = "^0.0.292"
pre-commit = "^3.5.0"

[tool.poetry-dynamic-versioning]
enable = true
vcs = "git"

[tool.isort]
profile = "black"

[tool.mypy]
plugins = ["numpy.typing.mypy_plugin", "pandera.mypy"]

[tool.ruff]
ignore = ["E501"]

[tool.pyright]
exclude = ["archive/", "results/", "**/data", "scripts/", "dist/", "docs/"]

[build-system]
requires = ["poetry-core>=1.0.0", "poetry-dynamic-versioning>=1.0.0,<2.0.0"]
build-backend = "poetry_dynamic_versioning.backend"

[tool.pytest.ini_options]
filterwarnings = [
    "ignore::DeprecationWarning:ray.*",
    "ignore::DeprecationWarning:pkg_resources.*",
    "ignore::DeprecationWarning:jupyter_client.*",
]