[project]
name = "genvarloader"
version = "0.5.6"
description = "Pipeline for efficient genomic data processing."
authors = [
    { name = "David Laub", email = "dlaub@ucsd.edu" },
    { name = "Aaron Ho", email = "aho@salk.edu" },
]
readme = "README.md"
repository = "https://github.com/mcvickerlab/GenVarLoader"
license = { file = "LICENSE.txt" }
requires-python = ">=3.9"
dependencies = [
    "loguru>=0.7.2",
    "attrs>=23.1.0",
    "natsort>=8.4.0",
    "numba>=0.57",
    "polars>=1",
    "pandera>=0.18",
    "pgenlib>=0.90.1",
    "pysam>=0.22.0",
    "pyarrow>=16.1",
    "more-itertools>=10.3",
    "tqdm>=4.66.3",
    "seqpro>=0.1.11",
    "tensorstore>=0.1.54",
    "cyvcf2>=0.30.28",
    "zarr>=2.17.0",
    "pybigwig>=0.3.22",
    "einops>=0.7.0",
    "typer>=0.11.0",
    "tbb>=2021.12.0",
    "joblib>=1.3.2",
    "pooch>=1.8.2",
]

[project.scripts]
genvarloader = 'genvarloader.__main__:app'

[project.optional-dependencies]
dev = [
    "pytest>=7.4.2",
    "memray>=1.10.0",
    "py-spy>=0.3.14",
    "icecream>=2.1.3",
    "pytest-cases>=3.8.0",
    "pytest-cov>=4.1.0",
    "ruff>=0.0.292",
    "pre-commit>=3.5.0",
    "pytest-benchmark>=4.0.0",
    "filelock>=3.13.1",
]

[tool.mypy]
plugins = ["numpy.typing.mypy_plugin", "pandera.mypy"]

[tool.ruff]
lint.ignore = ["E501"]

[tool.pyright]
exclude = ["archive/", "results/", "**/data", "scripts/", "dist/", "docs/"]

[tool.maturin]
python-source = "python"
features = ["pyo3/extension-module"]

[tool.pytest.ini_options]
filterwarnings = [
    "ignore::DeprecationWarning:ray.*",
    "ignore::DeprecationWarning:pkg_resources.*",
    "ignore::DeprecationWarning:jupyter_client.*",
]

[build-system]
requires = ["maturin>=1.6,<2.0"]
build-backend = "maturin"
