[tool.poetry]
name = "genvarloader"
version = "0.1.0"
description = "Pipeline for efficient genomic data processing."
authors = ["David Laub <dlaub@ucsd.edu>", "Aaron Ho <aho@salk.edu>"]
readme = "README.md"
repository = "https://github.com/mcvickerlab/genome-loader"
license = "MIT"

[tool.poetry.dependencies]
python = "^3.9"
loguru = "^0.7.2"
attrs = "^23.1.0"
dask = {extras = ["array"], version = "^2023.9.3"}
natsort = "^8.4.0"
numba = ">=0.57.0"
polars = "^0.19.8"
pandas = "<2"
pandera = "^0.17.2"
pgenlib = "^0.90.1"
ray = "^2.7.1"
xarray = "^2023.9.0"
pysam = "^0.22.0"
pyarrow = "^13.0.0"
seqpro = "^0.1.3"

[tool.poetry.group.dev.dependencies]
pytest = "^7.4.2"
mypy = "^1.6.0"
memray = "^1.10.0"
py-spy = "^0.3.14"
isort = "^5.12.0"
icecream = "^2.1.3"
black = "^23.9.1"
pytest-cases = "^3.8.0"
pytest-cov = "^4.1.0"
ruff = "^0.0.292"
pre-commit = "^3.5.0"

[tool.isort]
profile = "black"

[tool.mypy]
plugins = ["numpy.typing.mypy_plugin", "pandera.mypy"]

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
filterwarnings = [
    "ignore::DeprecationWarning:ray.*",
    "ignore::DeprecationWarning:pkg_resources.*",
    "ignore::DeprecationWarning:jupyter_client.*",
]